

    <%= render 'layouts/hero'%>
  <!--   <section id="services" class="section services-section text-center">
        <div class="container">
            <h2 class="section-title">Our Vision.</h2>
            <div class="vision-section-intro">"To be the Leading company providing Quality
               Civil/Construction work and carpentry products along with related accessories in Uganda". </div>
        </div>
    </section> -->
    <section id="services" class="section services-section text-center">
        <div class="container">
            <h2 class="section-title">Our Mission.</h2>
            <div class="mission-section-intro">“To be the leading quality, safe, cost effective provider of technical services in the region by the year 2050”. </div>
        </div>
    </section>
    <section id="services" class="section services-section text-center">
        <div class="container">
            <h2 class="section-title">Our Services</h2>
            <div class="section-intro">We are dedicated to achieving a consistently high
              level of value in all we do,which our customers appreciate.We have grown
              organically over the last 30yrs to become a local contracting firm of unparalleled scope </div>
            <div class="services-list row">
                <div class="item col-md-4 col-sm-6 col-xs-12">
                    <div class="item-inner">
                        <span class="custom-icon icon-dump_truck"></span>
                        <h3 class="item-title">Civil Engineering works</h3>
                        <div class="item-desc">
                            <p>Our experienced professionals provide for key elements in any civil or site development project.</p>
                        </div><!--//item-desc-->
                    </div><!--//item-inner-->
                </div><!--//item-->
                <div class="item col-md-4 col-sm-6 col-xs-12">
                    <div class="item-inner">
                        <span class="custom-icon icon-paint_brush"></span>
                        <h3 class="item-title">Roads &amp; Landscaping</h3>
                        <div class="item-desc">
                            <p>We specialize in maintenance in particular delivering suburban Roads and Landscaping including sub-base, base course and bituminous asphalt, road marking and signage.
                              We are also capable of bridge maintenance and repair including specialty works such as epoxy injection.</p>
                        </div><!--//item-desc-->
                    </div><!--//item-inner-->
                </div><!--//item-->
                <div class="item col-md-4 col-sm-6 col-xs-12">
                    <div class="item-inner">
                        <span class="custom-icon icon-paint_roller"></span>
                        <h3 class="item-title">Oil Sector Dominance in civil work</h3>
                        <div class="item-desc">
                            <p>We specialize in provision of infrastructure:-access Roads, bridges (maintenance and construction and oil well support structures.
                               We also participate in maintenance projects for government oil companies.</p>
                        </div><!--//item-desc-->
                    </div><!--//item-inner-->
                </div><!--//item-->
                <div class="item col-md-4 col-sm-6 col-xs-12">
                    <div class="item-inner">
                        <span class="custom-icon icon-digger"></span>
                        <h3 class="item-title">Building Construction.</h3>
                        <div class="item-desc">
                            <p>We've undertaken construction projects for a range of building projects including:
                               - schools, Hospitals and health centers, ware houses and substations</p>
                        </div><!--//item-desc-->
                    </div><!--//item-inner-->
                </div><!--//item-->
                <div class="item col-md-4 col-sm-6 col-xs-12">
                    <div class="item-inner">
                        <span class="custom-icon icon-ladder"></span>
                        <h3 class="item-title">Civil Infrastructure.</h3>
                        <div class="item-desc">
                            <p>We deliver Infrastructure projects including: - National Gravel Roads maintenance and rehabilitation, Bitiminisation,
                              of urban authorities' network, Construction of parking yards and storm water management.</p>
                        </div><!--//item-desc-->
                    </div><!--//item-inner-->
                </div><!--//item-->
                <div class="item col-md-4 col-sm-6 col-xs-12">
                    <div class="item-inner">
                        <span class="custom-icon icon-ruler_pencil"></span>
                        <h3 class="item-title">Bridge Construction, Strengthening and Repairs</h3>
                        <div class="item-desc">
                            <p>TEmbankment Reinstatement, Surface dressing, river training and embankment protection with gabion works, bridge strengthening and construction of drift
                            •   Waiga Bridge 
                            •   Wassa Bridge
                            •   Zoliya Bridge
                            •   Maliba Bridge
                            •   Mubuku Bridge
                            </p>
                        </div><!--//item-desc-->
                    </div><!--//item-inner-->
                </div><!--//item-->
                <div class="item col-md-4 col-sm-6 col-xs-12">
                    <div class="item-inner">
                        <span class="custom-icon icon-digger"></span>
                        <h3 class="item-title">Camp Construction for Field Operations.</h3>
                        <div class="item-desc">
                            <p>Site Clearance, Construction of foundation, Camp construction, and Other related construction activities.
                        •   Mbegu camp for TUOP in Block 2
                        •   Road repairs and Rub Hall construction for TUOP
                        •   Camp construction for CNOOC in Block 3
                        </p>
                        </div><!--//item-desc-->
                    </div><!--//item-inner-->
                </div><!--//item-->
                <div class="item col-md-4 col-sm-6 col-xs-12">
                    <div class="item-inner">
                        <span class="custom-icon icon-ladder"></span>
                        <h3 class="item-title">Construction of Drill pads for the Oil Exploration in the Albertine Region</h3>
                        <div class="item-desc">
                            <p>Site Clearance, Construction of pad infrastructure, Cellar/Conductor pipe, Access Roads, General Construction works
                            •   Pad construction and refurbishment including access roads for Tullow Uganda Operations Pty. 
                            </p>
                        </div><!--//item-desc-->
                    </div><!--//item-inner-->
                </div><!--//item-->
                <div class="item col-md-4 col-sm-6 col-xs-12">
                    <div class="item-inner">
                        <span class="custom-icon icon-ruler_pencil"></span>
                        <h3 class="item-title">Raw Materials Handling for Hima Cement Plant (ongoing)</h3>
                        <div class="item-desc">
                            <p>Excavation of raw materials, loading, transportation and stock piling of raw materials in the plant. We also maintain and manage some quarries for the plant.
                            </p>
                        </div><!--//item-desc-->
                    </div><!--//item-inner-->
                </div><!--//item-->
            </div><!--//row-->

            <div class="cta-area">
                <ul class="list-inline">
                    <li><a class="btn btn-primary" href="/contacts/new">Contact us for a FREE quote</a></li>
                    <li><a class="btn btn-secondary scrollto" href="#projects">View our projects</a></li>
                </ul>
            </div><!--//cta-area-->
        </div><!--//container-->
    </section><!--//services-->

    <section id="why" class="why-section section text-center">
        <h2 class="section-title">Why Choose Us?</h2>
        <div class="reasons center-block">
            <div class="item">
                <h3 class="item-title"><i class="fa fa-check" aria-hidden="true"></i> Engineering Excellence.</h3>
                <div class="item-desc">KNWI is a professional firm that provides value driven solutions based on technical and engineering skills. KNWI has a distinct culture with an enduring set of values that bind the firm together in project execution on the basis of all-round excellence. The Hall-mark of
                   KNWI also lies in its execution of a project, from inspection to completion, often ahead of time.</div><!--//item-desc-->
            </div><!--//item-->
            <div class="item">
                <h3 class="item-title"><i class="fa fa-check" aria-hidden="true"></i> Project management of unparalleled scope.</h3>
                <div class="item-desc">We have progressively grown over the last 30years to become a local contracting firm of unparalleled scope. Our research and development department is committed to working with
                  our project teams to deliver appropriate solutions to complex challenges</div><!--//item-desc-->
            </div><!--//item-->
            <div class="item">
                <h3 class="item-title"><i class="fa fa-check" aria-hidden="true"></i> Highest Quality Environment-friendly construction projects</h3>
                <div class="item-desc">KNWI was instrumental in the completion of some of the most impressive infrastructure projects in Uganda. KNWI delivers projects of the highest quality that are environmentally
                  friendly- a stringent requirement for all twenty-first century construction projects.</div><!--//item-desc-->
            </div><!--//item-->
            <div class="item">
                <h3 class="item-title"><i class="fa fa-check" aria-hidden="true"></i> Professionalism</h3>
                <div class="item-desc">Our key objective is to seek excellence in every aspect of our work and organization. We aim to maintain honor and mutual respect with our professional approach in relation with our clients, members of the firm and collaborators.
                  We seek to achieve a service appropriate to the needs of our clients and society at large.</div><!--//item-desc-->
            </div><!--//item-->
            <div class="item">
                <h3 class="item-title"><i class="fa fa-check" aria-hidden="true"></i>Quality Control</h3>
                <div class="item-desc">.We seek to improve the quality of our work and therefore the services given to our clients. Our policy is to give clear instructions which are necessary to facilitate the planning and execution of
                  projects to meet the required quality needed of ISO-9001:2008 quality standards</div><!--//item-desc-->
            </div><!--//item-->
        </div><!--//reasons-->
    </section><!--//why-section-->

    <section id="reviews" class="reviews-section section  text-center">
        <div class="container-fluid">
            <h2 class="section-title">See what our customers are saying</h2>
            <div id="reviews-carousel" class="owl-carousel owl-theme">
                <div class="item">
                    <div class="inner">
                        <blockquote class="quote">
                            <i class="fa fa-quote-left" aria-hidden="true"></i>
                            <p>Excellent workmanship. KNWI delivered on time and on budget.I would recommend them to anyone.</p>
                        </blockquote>
                        <div class="rating">
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                        </div><!--//rating-->
                        <div class="source">
                            <img class="customer-profile" src="/assets/images/customers/customer-1.png" alt="">
                            <div class="customer-meta">Ministry of works and UNRA<br></div>
                        </div><!--//source-->
                    </div><!--inner-->
                </div><!--//item-->
                <div class="item">
                    <div class="inner">
                        <blockquote class="quote">
                            <i class="fa fa-quote-left" aria-hidden="true"></i>
                            <p>We are so pleased with the work! Professional and recommendable work. They delivered on time and on budget.</p>
                        </blockquote>
                        <div class="rating">
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                        </div><!--//rating-->
                        <div class="source">
                            <img class="customer-profile" src="/assets/images/customers/customer-2.png" alt="">
                            <div class="customer-meta">AMREF</div>
                        </div><!--//source-->
                    </div><!--inner-->
                </div><!--//item-->
                <div class="item">
                    <div class="inner">
                        <blockquote class="quote">
                            <i class="fa fa-quote-left" aria-hidden="true"></i>
                            <p>A thoroughly professional job by KNWI. The stuff were professional and did their work deligently. We were pleased with the work.</p>
                        </blockquote>
                        <div class="rating">
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                        </div><!--//rating-->
                        <div class="source">
                            <img class="customer-profile" src="/assets/images/customers/customer-3.png" alt="">
                            <div class="customer-meta">Uganda Wildlife Authority.</div>
                        </div><!--//source-->
                    </div><!--inner-->
                </div><!--//item-->
                <div class="item">
                    <div class="inner">
                        <blockquote class="quote">
                            <i class="fa fa-quote-left" aria-hidden="true"></i>
                            <p>I would recommend KNWI to anyone because they are professional and deliver their work on time and on budget.</p>
                        </blockquote>
                        <div class="rating">
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                        </div><!--//rating-->
                        <div class="source">
                            <img class="customer-profile" src="/assets/images/customers/customer-4.png" alt="">
                            <div class="customer-meta">Tullow Oil Uganda.</div>
                        </div><!--//source-->
                    </div><!--inner-->
                </div><!--//item-->
            </div><!--//reviews-carousel-->
        </div><!--//container-fluid-->
    </section><!--//reviews-section-->

    <section id="about" class="about-section section text-center">
        <div class="container">
            <h2 class="section-title">About Us</h2>
            <div class="section-intro">
                <p>Founded in 1982, KNWI currently meets the international and Uganda industry standards.<br>
                  KNWI was registered and received manufacturing Licenses from Uganda Government in 1986 to start production
                  of nails and carpentry/ joinery products.<br>Gradually diversifies from the above products to civil construction of
                   buildings and bridges. gradually diversifies into construction of buildings and bridges.<br> We deliver the highest quality construction
                   projects in line with our vision of being the leading quality, safe, cost effective provider of technical services in Africa in 2050.
                 </p>
                 <p> Because of engineering excellence and Project management expertise, KNWI has been graded as a "Grade One Company for Infrastructure work and building by Uganda Local Government.
                   April 2010, <br>KNWI was awarded the ISO 9001:2008 Quality Management Qualification for its entire range of operations, demonstrating the company commitment towards uncompromising    quality standards and excellence in customer service. </p>
                  </p>
            </div><!--//about-desc-->
            <figure class="about-figure">
                <img class="img-responsive center-block" src="/assets/images/aboutus.jpg" alt="">
            </figure>
        </div><!--//container-->
    </section><!--//about-section-->

    <section class="callout-section section text-center">
        <div class="callout-container container">
            <h2 class="section-title">Interested in hiring us?</h2>
            <div class="callout-desc">Contact us today to talk about your project and requirements.<br> 100% Customer Satisfaction Guaranteed.</div>
            <a class="callout-btn btn btn-cta btn-primary" href="/contacts/new">Contact us for a FREE quote</a>
        </div><!--//container-->
    </section><!--//callout-block-->

    <section id="projects" class="projects-section section text-center">
        <div class="container">
            <h2 class="section-title">Our Projects</h2>
            <div class="section-intro">KNWI is a professional firm that provides value driven solutions based on technical and engineering skills.<br> KNWI has a distinct culture with an enduring set of values that bind the firm together in project execution on the basis of all-round excellence.<br> The Hall-mark of KNWI also lies in its execution of a project, from inspection to completion, often ahead of time.</div>
            <div class="latest-projects">
                <!-- <h3 class="sub-title">Latest Case Studies</h3> -->
                <div class="row">
                    <div class="item col-sm-4 col-xs-12">
                        <div class="item-inner">
                            <div class="project-item">
                                <div class="img-holder img-holder-1"></div>
                                <div class="info-mask">
                                    <div class="mask-inner">
                                        <h4 class="title">Tullow Oil Uganda</h4>
                                        <div class="desc">Construction of 2 well pads and 10km,access roads, general maintenance works in EA-2</div>
                                        <a class="btn btn-secondary" href="#" data-toggle="modal" data-target="#project-modal-1">View Details</a>
                                        <a class="link" href="#" data-toggle="modal" data-target="#project-modal-1"></a>
                                    </div><!--//mask-inner-->
                                </div><!--//info-mask-->
                            </div><!--//project-item-->
                        </div><!--//item-inner-->
                    </div><!--//item-->
                    <div class="item col-sm-4 col-xs-12">
                        <div class="item-inner">
                            <div class="project-item">
                                <div class="img-holder img-holder-2"></div>
                                <div class="info-mask">
                                    <div class="mask-inner">
                                        <h4 class="title">TUGL</h4>
                                        <div class="desc">Airstrip improvement from grass to gravel base and 25km access road in EA-1</div>
                                        <a class="btn btn-secondary" href="#" data-toggle="modal" data-target="#project-modal-2">View Details</a>
                                        <a class="link" href="#" data-toggle="modal" data-target="#project-modal-2"></a>
                                    </div><!--//mask-inner-->
                                </div><!--//info-mask-->
                            </div><!--//project-item-->
                        </div><!--//item-inner-->
                    </div><!--//item-->
                    <div class="item col-sm-4 col-xs-12">
                        <div class="item-inner">
                            <div class="project-item">
                                <div class="img-holder img-holder-3"></div>
                                <div class="info-mask">
                                    <div class="mask-inner">
                                        <h4 class="title">TOTAL E&P
                                        MBW CONSULTING
                                        </h4>
                                        <div class="desc">Construction of 03 well drilling pads.</div>
                                        <a class="btn btn-secondary" href="#" data-toggle="modal" data-target="#project-modal-3">View Details</a>
                                        <a class="link" href="#" data-toggle="modal" data-target="#project-modal-3"></a>
                                    </div><!--//mask-inner-->
                                </div><!--//info-mask-->
                            </div><!--//project-item-->
                        </div><!--//item-inner-->
                    </div><!--//item-->
                </div><!--//row-->
            </div><!--//latest-projects-->

            <div class="gallery">
                <h3 class="sub-title">Photo Gallery</h3>
                <div id="photos-wrapper" class="photos-wrapper row">
                    <div class="item col-md-2 col-sm-3 col-xs-4"><a href="/assets/images/projects/gallery/gallery-1.jpg" data-gallery><img class="img-responsive" src="assets/images/projects/gallery/gallery-1-thumb.jpg" alt="" /></a></div>
                    <div class="item col-md-2 col-sm-3 col-xs-4"><a href="/assets/images/projects/gallery/gallery-2.jpg" data-gallery><img class="img-responsive" src="assets/images/projects/gallery/gallery-2-thumb.jpg" alt="" /></a></div>
                    <div class="item col-md-2 col-sm-3 col-xs-4"><a href="/assets/images/projects/gallery/gallery-3.jpg" data-gallery><img class="img-responsive" src="assets/images/projects/gallery/gallery-3-thumb.jpg" alt="" /></a></div>
                    <div class="item col-md-2 col-sm-3 col-xs-4"><a href="/assets/images/projects/gallery/gallery-4.jpg" data-gallery><img class="img-responsive" src="assets/images/projects/gallery/gallery-4-thumb.jpg" alt="" /></a></div>
                    <div class="item col-md-2 col-sm-3 col-xs-4"><a href="/assets/images/projects/gallery/gallery-5.jpg" data-gallery><img class="img-responsive" src="assets/images/projects/gallery/gallery-5-thumb.jpg" alt="" /></a></div>
                <!--     <div class="item col-md-2 col-sm-3 col-xs-4"><a href="/assets/images/projects/gallery/gallery-6.jpg" data-gallery><img class="img-responsive" src="assets/images/projects/gallery/gallery-6-thumb.jpg" alt="" /></a></div>-->
                    <!-- <div class="item col-md-2 col-sm-3 col-xs-4"><a href="/assets/images/projects/gallery/gallery-7.jpg" data-gallery><img class="img-responsive" src="assets/images/projects/gallery/gallery-7-thumb.jpg" alt="" /></a></div> -->
                    <div class="item col-md-2 col-sm-3 col-xs-4"><a href="/assets/images/projects/gallery/gallery-8.jpg" data-gallery><img class="img-responsive" src="assets/images/projects/gallery/gallery-8-thumb.jpg" alt="" /></a></div>
                    <!-- <div class="item col-md-2 col-sm-3 col-xs-4"><a href="/assets/images/projects/gallery/gallery-9.jpg" data-gallery><img class="img-responsive" src="assets/images/projects/gallery/gallery-9-thumb.jpg" alt="" /></a></div>
                    <div class="item col-md-2 col-sm-3 col-xs-4"><a href="/assets/images/projects/gallery/gallery-10.jpg" data-gallery><img class="img-responsive" src="assets/images/projects/gallery/gallery-10-thumb.jpg" alt="" /></a></div> -->
                    <!-- <div class="item col-md-2 col-sm-3 col-xs-4"><a href="/assets/images/projects/gallery/gallery-11.jpg" data-gallery><img class="img-responsive" src="assets/images/projects/gallery/gallery-11-thumb.jpg" alt="" /></a></div>
                    <div class="item col-md-2 col-sm-3 col-xs-4"><a href="/assets/images/projects/gallery/gallery-12.jpg" data-gallery><img class="img-responsive" src="assets/images/projects/gallery/gallery-12-thumb.jpg" alt="" /></a></div>
                    <div class="item col-md-2 col-sm-3 col-xs-4"><a href="assets/images/projects/gallery/gallery-13.jpg" data-gallery><img class="img-responsive" src="assets/images/projects/gallery/gallery-13-thumb.jpg" alt="" /></a></div> -->
                    <div class="item col-md-2 col-sm-3 col-xs-4"><a href="/assets/images/projects/gallery/gallery-9.jpg" data-gallery><img class="img-responsive" src="assets/images/projects/gallery/gallery-9-thumb.jpg" alt="" /></a></div>
                    <div class="item col-md-2 col-sm-3 col-xs-4"><a href="/assets/images/projects/gallery/gallery-15.jpg" data-gallery><img class="img-responsive" src="assets/images/projects/gallery/gallery-15-thumb.jpg" alt="" /></a></div>
                    <div class="item col-md-2 col-sm-3 col-xs-4"><a href="/assets/images/projects/gallery/gallery-16.jpg" data-gallery><img class="img-responsive" src="assets/images/projects/gallery/gallery-16-thumb.jpg" alt="" /></a></div>
                    <div class="item col-md-2 col-sm-3 col-xs-4"><a href="/assets/images/projects/gallery/gallery-17.jpg" data-gallery><img class="img-responsive" src="assets/images/projects/gallery/gallery-17-thumb.jpg" alt="" /></a></div>
                    <div class="item col-md-2 col-sm-3 col-xs-4"><a href="/assets/images/projects/gallery/gallery-18.jpg" data-gallery><img class="img-responsive" src="assets/images/projects/gallery/gallery-18-thumb.jpg" alt="" /></a></div>
                </div><!--//photos-wrapper-->
            </div><!--//gallery-->
        </div><!--//container-->
    </section><!--//section-->

    <section id="faqs" class="section faq-section">
        <div class="container">
            <h2 class="section-title text-center">Frequently Asked Questions</h2>
            <div class="row">
                <div class="col-sm-6 col-xs-12">
                    <div class="panel">
                        <div class="panel-heading">
                            <h4 class="panel-title"><a data-parent="#accordion"
                            data-toggle="collapse" class="panel-toggle" href="#faq1"><i class="fa fa-info-circle" aria-hidden="true"></i>Can I viverra sit amet quam eget lacinia?</a></h4>
                        </div>

                        <div class="panel-collapse collapse" id="faq1">
                            <div class="panel-body">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam rutrum ut erat a ultricies. Phasellus non auctor nisi, id aliquet lectus. Vestibulum libero eros, aliquet at tempus ut, scelerisque sit amet nunc. Vivamus id porta neque, in pulvinar ipsum. Vestibulum sit amet quam sem. Pellentesque accumsan consequat venenatis. Pellentesque sit amet justo dictum, interdum odio non, dictum nisi. Fusce sit amet turpis eget nibh elementum sagittis. Nunc consequat lacinia purus, in consequat neque consequat id.
                            </div>
                        </div>
                    </div><!--//panel-->

                    <div class="panel">
                        <div class="panel-heading">
                            <h4 class="panel-title"><a data-parent="#accordion"
                            data-toggle="collapse" class="panel-toggle" href="#faq2"><i class="fa fa-info-circle"></i>What is the ipsum dolor sit amet quam tortor?</a></h4>
                        </div>

                        <div class="panel-collapse collapse" id="faq2">
                            <div class="panel-body">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam rutrum ut erat a ultricies. Phasellus non auctor nisi, id aliquet lectus. Vestibulum libero eros, aliquet at tempus ut, scelerisque sit amet nunc. Vivamus id porta neque, in pulvinar ipsum. Vestibulum sit amet quam sem. Pellentesque accumsan consequat venenatis. Pellentesque sit amet justo dictum, interdum odio non, dictum nisi. Fusce sit amet turpis eget nibh elementum sagittis. Nunc consequat lacinia purus, in consequat neque consequat id.
                            </div>
                        </div>
                    </div><!--//panel-->

                    <div class="panel">
                        <div class="panel-heading">
                            <h4 class="panel-title"><a data-parent="#accordion"
                            data-toggle="collapse" class="panel-toggle" href="#faq3"><i class="fa fa-info-circle"></i>How does lorem ipsum work?</a></h4>
                        </div>

                        <div class="panel-collapse collapse" id="faq3">
                            <div class="panel-body">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam rutrum ut erat a ultricies. Phasellus non auctor nisi, id aliquet lectus. Vestibulum libero eros, aliquet at tempus ut, scelerisque sit amet nunc. Vivamus id porta neque, in pulvinar ipsum. Vestibulum sit amet quam sem. Pellentesque accumsan consequat venenatis. Pellentesque sit amet justo dictum, interdum odio non, dictum nisi. Fusce sit amet turpis eget nibh elementum sagittis. Nunc consequat lacinia purus, in consequat neque consequat id.
                            </div>
                        </div>
                    </div><!--//panel-->

                    <div class="panel">
                        <div class="panel-heading">
                            <h4 class="panel-title"><a data-parent="#accordion"
                            data-toggle="collapse" class="panel-toggle" href="#faq4"><i class="fa fa-info-circle"></i>Can I ipsum dolor sit amet nascetur ridiculus?</a></h4>
                        </div>

                        <div class="panel-collapse collapse" id="faq4">
                            <div class="panel-body">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam rutrum ut erat a ultricies. Phasellus non auctor nisi, id aliquet lectus. Vestibulum libero eros, aliquet at tempus ut, scelerisque sit amet nunc. Vivamus id porta neque, in pulvinar ipsum. Vestibulum sit amet quam sem. Pellentesque accumsan consequat venenatis. Pellentesque sit amet justo dictum, interdum odio non, dictum nisi. Fusce sit amet turpis eget nibh elementum sagittis. Nunc consequat lacinia purus, in consequat neque consequat id.
                            </div>
                        </div>
                    </div><!--//panel-->
                </div>
                <div class="col-sm-6 col-xs-12">
                    <div class="panel">
                        <div class="panel-heading">
                            <h4 class="panel-title"><a data-parent="#accordion"
                            data-toggle="collapse" class="panel-toggle" href="#faq5"><i class="fa fa-info-circle"></i>Is it possible to tellus eget auctor condimentum?</a></h4>
                        </div>

                        <div class="panel-collapse collapse" id="faq5">
                            <div class="panel-body">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam rutrum ut erat a ultricies. Phasellus non auctor nisi, id aliquet lectus. Vestibulum libero eros, aliquet at tempus ut, scelerisque sit amet nunc. Vivamus id porta neque, in pulvinar ipsum. Vestibulum sit amet quam sem. Pellentesque accumsan consequat venenatis. Pellentesque sit amet justo dictum, interdum odio non, dictum nisi. Fusce sit amet turpis eget nibh elementum sagittis. Nunc consequat lacinia purus, in consequat neque consequat id.
                            </div>
                        </div>
                    </div><!--//panel-->

                    <div class="panel">
                        <div class="panel-heading">
                            <h4 class="panel-title"><a data-parent="#accordion"
                            data-toggle="collapse" class="panel-toggle" href="#faq6"><i class="fa fa-info-circle"></i>Would it elementum turpis semper imperdiet?</a></h4>
                        </div>

                        <div class="panel-collapse collapse" id="faq6">
                            <div class="panel-body">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam rutrum ut erat a ultricies. Phasellus non auctor nisi, id aliquet lectus. Vestibulum libero eros, aliquet at tempus ut, scelerisque sit amet nunc. Vivamus id porta neque, in pulvinar ipsum. Vestibulum sit amet quam sem. Pellentesque accumsan consequat venenatis. Pellentesque sit amet justo dictum, interdum odio non, dictum nisi. Fusce sit amet turpis eget nibh elementum sagittis. Nunc consequat lacinia purus, in consequat neque consequat id.
                            </div>
                        </div>
                    </div><!--//panel-->

                    <div class="panel">
                        <div class="panel-heading">
                            <h4 class="panel-title"><a data-parent="#accordion"
                            data-toggle="collapse" class="panel-toggle" href="#faq7"><i class="fa fa-info-circle"></i>How can I imperdiet lorem sem non nisl?</a></h4>
                        </div>

                        <div class="panel-collapse collapse" id="faq7">
                            <div class="panel-body">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam rutrum ut erat a ultricies. Phasellus non auctor nisi, id aliquet lectus. Vestibulum libero eros, aliquet at tempus ut, scelerisque sit amet nunc. Vivamus id porta neque, in pulvinar ipsum. Vestibulum sit amet quam sem. Pellentesque accumsan consequat venenatis. Pellentesque sit amet justo dictum, interdum odio non, dictum nisi. Fusce sit amet turpis eget nibh elementum sagittis. Nunc consequat lacinia purus, in consequat neque consequat id.
                            </div>
                        </div>
                    </div><!--//panel-->

                    <div class="panel">
                        <div class="panel-heading">
                            <h4 class="panel-title"><a data-parent="#accordion"
                            data-toggle="collapse" class="panel-toggle" href="#faq8"><i class="fa fa-info-circle"></i>Can I imperdiet massa ut?</a></h4>
                        </div>

                        <div class="panel-collapse collapse" id="faq8">
                            <div class="panel-body">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam rutrum ut erat a ultricies. Phasellus non auctor nisi, id aliquet lectus. Vestibulum libero eros, aliquet at tempus ut, scelerisque sit amet nunc. Vivamus id porta neque, in pulvinar ipsum. Vestibulum sit amet quam sem. Pellentesque accumsan consequat venenatis. Pellentesque sit amet justo dictum, interdum odio non, dictum nisi. Fusce sit amet turpis eget nibh elementum sagittis. Nunc consequat lacinia purus, in consequat neque consequat id.
                            </div>
                        </div>
                    </div><!--//panel-->
                </div>
            </div><!--//row-->
        </div><!--//container-->
    </section><!--//section-->



    <!-- Project Modal 1 -->
    <div id="project-modal-1" class="project-modal modal modal-fullscreen" tabindex="-1" role="dialog" aria-labelledby="projectModal1Label">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title text-center" id="projectModal1Label">Tullow Oil Uganda</h4>
                </div><!--//modal-header-->
                <div class="modal-body">
                    <div class="content">
                        <div class="row">
                            <figure class="figure col-xs-12 col-md-5">
                                <img class="img-responsive" src="/assets/images/projects/latest/latest-1.jpg" alt="" />
                            </figure><!--//figure-->
                            <div class="details col-xs-12 col-md-7">
                                <p>Site Clearance
                                    Construction of pad foundation
                                    Cellar/Conductor pipe
                                    Access Roads
                                    General Construction works
                                </p>

                            </div><!--//details-->
                        </div><!--//row-->

                        <div class="review text-center">
                            <blockquote class="quote">
                                <i class="fa fa-quote-left" aria-hidden="true"></i>
                                <p>A thoroughly professional job and delivered on time. The stuff were extremely technically competent in their work. </p>
                            </blockquote>
                            <div class="rating">
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                            </div><!--//rating-->
                            <div class="source">
                                <img class="customer-profile" src="/assets/images/customers/customer-3.png" alt="">
                                <div class="customer-meta">Sara, Bristol - via <a href="#">homeadvisor.com</a></div>
                            </div><!--//source-->
                        </div><!--//review-->

                    </div>
                </div><!--//modal-body-->
            </div><!--//modal-content-->
        </div>
    </div><!--//modal-->

    <!-- Project Modal 2 -->
    <div id="project-modal-2" class="project-modal modal modal-fullscreen" tabindex="-1" role="dialog" aria-labelledby="projectModal2Label">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title text-center" id="projectModal2Label">TUGL</h4>
                </div><!--//modal-header-->
                <div class="modal-body">
                    <div class="content">
                        <div class="row">
                            <figure class="figure col-xs-12 col-md-5">
                                <img class="img-responsive" src="/assets/images/projects/latest/latest-2.jpg" alt="" />
                            </figure><!--//figure-->
                            <div class="details col-xs-12 col-md-7">
                                <p>Site Clearance
                                    Gravel base preparation
                                    Gravelling works
                                    General construction
                                    </p>

                            </div><!--//details-->
                        </div><!--//row-->

                        <div class="review text-center">
                            <blockquote class="quote">
                                <i class="fa fa-quote-left" aria-hidden="true"></i>
                                <p>Great job working on this project. The level of professionalism was unmatched.</p>
                            </blockquote>
                            <div class="rating">
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                            </div><!--//rating-->
                            <div class="source">
                                <img class="customer-profile" src="/assets/images/customers/customer-4.png" alt="">
                                <div class="customer-meta">Dan, Bristol - via <a href="#">homeadvisor.com</a></div>
                            </div><!--//source-->
                        </div><!--//review-->
                    </div>
                </div><!--//modal-body-->
            </div><!--//modal-content-->
        </div>
    </div><!--//modal-->

    <!-- Project Modal 3 -->
    <div id="project-modal-3" class="project-modal modal modal-fullscreen" tabindex="-1" role="dialog" aria-labelledby="projectModal3Label">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title text-center" id="projectModal3Label">TOTAL E&P
                                        MBW CONSULTING</h4>
                </div><!--//modal-header-->
                <div class="modal-body">
                    <div class="content">
                        <div class="row">
                            <figure class="figure col-xs-12 col-md-5">
                                <img class="img-responsive" src="/assets/images/projects/latest/latest-3.jpg" alt="" />
                            </figure><!--//figure-->
                            <div class="details col-xs-12 col-md-7">
                                <p>Rehabilitation of roads.
                                Refurbishment works.
                                Pad Construction works.
                                </p>

                            </div><!--//details-->
                        </div><!--//row-->

                        <div class="review text-center">
                            <blockquote class="quote">
                                <i class="fa fa-quote-left" aria-hidden="true"></i>
                                <p>Very professional work and delivery of project deliverables.</p>
                            </blockquote>
                            <div class="rating">
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                            </div><!--//rating-->
                            <div class="source">
                                <img class="customer-profile" src="/assets/images/customers/customer-2.png" alt="">
                                <div class="customer-meta">Kate, Bristol - via <a href="#">homeadvisor.com</a></div>
                            </div><!--//source-->
                        </div><!--//review-->

                    </div>
                </div><!--//modal-body-->
            </div><!--//modal-content-->
        </div>
    </div><!--//modal-->


    <!-- The Bootstrap Image Gallery lightbox -->
    <div id="blueimp-gallery" class="blueimp-gallery" data-use-bootstrap-modal="false">
        <!-- The container for the modal slides -->
        <div class="slides"></div>
        <!-- Controls for the borderless lightbox -->
        <h3 class="title"></h3>
        <a class="prev">‹</a>
        <a class="next">›</a>
        <a class="close">×</a>
        <a class="play-pause"></a>
        <ol class="indicator"></ol>
        <!-- The modal dialog, which will be used to wrap the lightbox content -->
        <div class="modal fade" tabindex="-1" >
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" aria-hidden="true">&times;</button>
                        <h4 class="modal-title"></h4>
                    </div>
                    <div class="modal-body next"></div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default pull-left prev">
                            <i class="glyphicon glyphicon-chevron-left"></i>
                            Previous
                        </button>
                        <button type="button" class="btn btn-primary next">
                            Next
                            <i class="glyphicon glyphicon-chevron-right"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div><!--blueimp-gallery-->

    <!-- *****CONFIGURE STYLE (REMOVE ON YOUR PRODUCTION SITE)****** -->
    <div id="config-panel" class="config-panel hidden-xs hidden-sm">
        <div class="panel-inner">
            <a id="config-trigger" class="config-trigger config-panel-hide" href="#"><i class="fa fa-cog"></i></a>
            <h5 class="panel-title">Choose Colour</h5>
            <ul id="color-options" class="list-unstyled list-inline">
                <li class="theme-1 active"><a data-style="/assets/css/styles.css" data-logo="assets/images/logo.svg" href="#"></a></li>
                <li class="theme-2"><a data-style="/assets/css/styles-2.css" data-logo="assets/images/logo-2.svg" href="#"></a></li>
                <li class="theme-3"><a data-style="/assets/css/styles-3.css" data-logo="assets/images/logo-3.svg" href="#"></a></li>
                <li class="theme-4"><a data-style="/assets/css/styles-4.css" data-logo="assets/images/logo-4.svg" href="#"></a></li>
                <li class="theme-5"><a data-style="/assets/css/styles-5.css" data-logo="assets/images/logo-5.svg" href="#"></a></li>
                <li class="theme-6"><a data-style="/assets/css/styles-6.css" data-logo="assets/images/logo-6.svg" href="#"></a></li>

            </ul>
            <a id="config-close" class="close" href="#"><i class="fa fa-times-circle"></i></a>
        </div><!--//panel-inner-->
    </div><!--//configure-panel-->
