<section id="services">
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <p class="lead">Thanks a lot for contacting us we shall get back to you as soon as possible.</p>
        <%= link_to "<< Return to home page",  root_path,class:'btn btn-warning btn-lg pull-right return'%>
      </div>
    </div>

  </div>
</section>
