<!-- ******FOOTER****** -->
<footer class="footer">
    <div class="footer-main container">
        <div class="row">
            <div class="footer-col business-hours-col col-md-4 col-sm-6 col-xs-12">
                <h3 class="col-title">Business Hours</h3>
                <div class="intro">Lorem ipsum dolor sit amet, consectetuer <br>adipiscing elit. Aenean commodo ligula.</div>
                <ul class="business-hours-list list-unstyled">
                    <li><strong>Monday - Friday:</strong> 8am - 6pm</li>
                    <li><strong>Saturday:</strong> 9am - 4pm</li>
                    <li><strong>Sunday:</strong> Closed</li>
                </ul>
            </div><!--//footer-col-->
            <div class="footer-col contact-us-col col-md-4 col-sm-6 col-xs-12">
                <h3 class="col-title">Contact Us</h3>
                <ul class="footer-contact-list list-unstyled">
                    <li class="item">
                        <span class="custom-icon icon-telephone_signal"></span>
                        <span class="info"><a href="#">01234 555 666</a></span>
                    </li>
                    <li class="item">
                        <span class="custom-icon icon-email"></span>
                        <span class="info"><a href="#">info@knwi.co.ug</a></span>
                    </li>
                    <li class="item">
                        <span class="custom-icon icon-map_pin"></span>
                        <span class="info">

                                <span class="street-address">College Green</span><br>
                                <span class="region">56 College Green Road</span><br>
                                <span class="postal-code">BS1 6XR</span><br>
                                <span class="country-name">UK</span>

                        </span>
                    </li>
                </ul>
            </div><!--//footer-col-->
            <div class="footer-col follow-us-col col-md-4 col-xs-12">
                <h3 class="col-title">Follow Us</h3>
                <div class="intro">Maecenas tempus, tellus eget condimentum rhoncus, sem quam semper libero.</div>
                <div class="social-container">
                    <ul class="list-inline social-list">
                        <li class="social-item"><a href="#"><i class="fa fa-facebook"></i></a></li>
                        <li class="social-item"><a href="#"><i class="fa fa-twitter"></i></a></li>
                        <li class="social-item"><a href="#"><i class="fa fa-instagram"></i></a></li>
                        <li class="social-item"><a href="#"><i class="fa fa-google-plus"></i></a></li>
                    </ul><!--//social-list-->
                </div><!--//social-container-->

                 <ul class="footer-menu list-unstyled">
                    <li><a href="#">Terms &amp; Conditions</a></li>
                    <li><a href="#">Privacy Policy</a></li>
                </ul>
            </div><!--//footer-col-->
        </div><!--//row-->



    </div><!--//container-->
    <div class="bottombar text-center">


            <div class="copyright">Template Copyright @ <a href="http://themes.3rdwavemedia.com/" target="_blank">3rd Wave Media</a></div>

    </div><!--//bottombar-->
</footer><!--//footer-->
