
    <!-- ******HEADER****** -->
    <header id="header" class="header">
        <div id="topbar" class="topbar">
            <div class="container-fluid">
                <nav class="main-nav" role="navigation">
                    <div class="navbar-header text-center">
                        <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-collapse">
                            <span class="icon-bar-wrapper">
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </span><!--//icon-bar-wrapper-->
                        </button><!--//nav-toggle-->
                    </div><!--//navbar-header-->
                    <div id="navbar-collapse" class="navbar-collapse collapse text-center">
                        <ul class="nav navbar-nav center-block">
                          <li class="nav-item active"><%= link_to "Home",root_path%></li>
                           <li class="nav-item"><a class="scrollto" href="#services">Services</a></li>
                           <li class="nav-item"><a class="scrollto" href="#why">Why Us</a></li>
                           <li class="nav-item"><a class="scrollto" href="#reviews">Reviews</a></li>
                           <li class="nav-item"><a class="scrollto" href="#about">About</a></li>
                           <li class="nav-item"><a class="scrollto" href="#projects">Projects</a></li>
                           <li class="nav-item"><a class="scrollto" href="#faqs">FAQs</a></li>
                           <li class="nav-item"><%= link_to "Contact us", new_contact_path%></li>
                        </ul><!--//nav-->
                    </div><!--//navabr-collapse-->
                </nav><!--//main-nav-->
                <div class="social-container">
                    <ul class="list-inline social-list">
                        <li class="social-item"><a href="#"><i class="fa fa-facebook"></i></a></li>
                        <li class="social-item"><a href="#"><i class="fa fa-twitter"></i></a></li>
                        <li class="social-item"><a href="#"><i class="fa fa-instagram"></i></a></li>
                        <li class="social-item"><a href="#"><i class="fa fa-google-plus"></i></a></li>
                    </ul><!--//social-list-->
                </div><!--//social-container-->
            </div><!--//container-->
        </div><!--//topbar-->
        <div class="branding container">
            <h1 class="logo pull-left"><img id="logo-image" class="logo-image" src="/assets/images/logo.svg" alt=""></h1>
            <ul class="header-info-list list-inline pull-right">
                <li class="info-item contact-methods">
                    <span class="custom-icon icon-telephone_signal"></span>
                    <span class="info-main phone-number"><a href="#">0123 555 666</a></span>
                    <span class="info-sub"><a href="#">info@yourwebsite.com</a></span>
                </li><!--//info-item-->
                <li class="info-item business-hours">
                    <span class="custom-icon icon-clock"></span>
                    <span class="info-main phone-number">8am - 6pm</span>
                    <span class="info-sub">Monday - Saturday</span>
                </li><!--//info-item-->
            </ul><!--//info-list-->
        </div><!--//branding-->
    </header><!--//header-->
