<div id="promo" class="promo-section">

    <div id="hero-carousel" class="hero-carousel carousel carousel-fade slide" data-ride="carousel" data-interval="8000">

  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li class="active" data-slide-to="0" data-target="#hero-carousel"></li>
    <li data-slide-to="1" data-target="#hero-carousel"></li>
    <li data-slide-to="2" data-target="#hero-carousel"></li>
    <li data-slide-to="3" data-target="#hero-carousel"></li>
    <li data-slide-to="4" data-target="#hero-carousel"></li>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner">

    <div class="item item-1 active">
      <div class="item-content container text-center">
          <div class="item-content-inner">

                <h2 class="heading">The Perfect Bootstrap Template
<br>for Builders and Tradesmen</h2>
                <p class="intro">Effective one page website template  designed for small trade businesses.</p>
                <a class="btn btn-primary btn-cta scrollto" href="#contact" target="_blank">Get a FREE Quote</a>

          </div><!--//item-content-inner-->
      </div><!--//item-content-->
    </div><!--//item-->

    <div class="item item-2">
      <div class="item-content container text-center">
        <div class="item-content-inner">

                <h2 class="heading">UX Centred Design with SEO Friendly Code</h2>
                <p class="intro">There is no need to start from scratch - we've got you covered.<br> Get this template and start building sites for all types of trade businesses.</p>
                <a class="btn btn-primary btn-cta scrollto" href="#projects" target="_blank">View Our Projects</a>

          </div><!--//item-content-inner-->
      </div>
    </div><!--//item-->

    <div class="item item-3">
      <div class="item-content container text-center">
        <div class="item-content-inner">

                <h2 class="heading">Working Contact Form Included</h2>
                <p class="intro">This template comes with a working PHP contact form. <br>All you need to do is change the email address in the mailer.php file.</p>
                <a class="btn btn-primary btn-cta scrollto" href="#contact" target="_blank">Try it now</a>

          </div><!--//item-content-inner-->
      </div>
    </div><!--//item-->

    <div class="item item-4">
      <div class="item-content container text-center">
        <div class="item-content-inner">

                <h2 class="heading">50+ Construction Icons Included</h2>
                <p class="intro">This template also includes a set of useful construction icon fonts. <br>You can easily pick the ones right for your site.</p>
                <a class="btn btn-primary btn-cta" href="#" target="_blank">Buy Now</a>

          </div><!--//item-content-inner-->
      </div>
    </div><!--//item-->

    <div class="item item-5">
      <div class="item-content container text-center">
        <div class="item-content-inner">

                <h2 class="heading">Ready to build sites for trade businesses?</h2>
                <p class="intro">We've laid the foundations for you so you can easily make successful sites for builders, plumbers, electricians, carpenters and many more.</p>
                <a class="btn btn-primary btn-cta" href="#" target="_blank">Buy Now</a>

          </div><!--//item-content-inner-->
      </div>
    </div><!--//item-->

  </div><!--//carousel-inner-->

</div><!--//carousel-->
</div><!--//promo-section-->
