<div id="promo" class="promo-section">

    <div id="hero-carousel" class="hero-carousel carousel carousel-fade slide" data-ride="carousel" data-interval="8000">

  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li class="active" data-slide-to="0" data-target="#hero-carousel"></li>
    <li data-slide-to="1" data-target="#hero-carousel"></li>
    <li data-slide-to="2" data-target="#hero-carousel"></li>
    <li data-slide-to="3" data-target="#hero-carousel"></li>
    <li data-slide-to="4" data-target="#hero-carousel"></li>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner">

    <div class="item item-1 active">
      <div class="item-content container text-center">
          <div class="item-content-inner">

                <h2 class="heading">Delivering Engineering Excellence.</h2>
                <p class="intro">We seek to improve the quality of our work and therefore the services given to our clients.</p>
                <a class="btn btn-primary btn-cta" href="/contacts/new" target="_blank">Get a FREE Quote</a>

          </div><!--//item-content-inner-->
      </div><!--//item-content-->
    </div><!--//item-->

    <div class="item item-2">
      <div class="item-content container text-center">
        <div class="item-content-inner">

                <h2 class="heading">Environmental Policy</h2>
                <p class="intro">KNWI recognizes the need to protect the environment and to use the resources in a sustainable way for future generations.</p>
                <a class="btn btn-primary btn-cta scrollto" href="#projects" target="_blank">View Our Projects</a>

          </div><!--//item-content-inner-->
      </div>
    </div><!--//item-->

    <div class="item item-3">
      <div class="item-content container text-center">
        <div class="item-content-inner">

                <h2 class="heading">Safety Policy</h2>
                <p class="intro">Our commitment towards our employees well-being is summarized by KNWI primary safety rule governed by zero tolerance.</p>
                <a class="btn btn-primary btn-cta scrollto" href="#contact" target="_blank">Try it now</a>

          </div><!--//item-content-inner-->
      </div>
    </div><!--//item-->

    <div class="item item-4">
      <div class="item-content container text-center">
        <div class="item-content-inner">

                <h2 class="heading">Oil Sector Dominance in civil work</h2>
                <p class="intro">We specialize in provision of infrastructure access roads and bridges.<br>We also participate in maintenance of projects for government oil companies.</p>
                <a class="btn btn-primary btn-cta" href="#" target="_blank">Buy Now</a>

          </div><!--//item-content-inner-->
      </div>
    </div><!--//item-->

    <div class="item item-5">
      <div class="item-content container text-center">
        <div class="item-content-inner">

                <h2 class="heading">Civil Infrastructure.</h2>
                <p class="intro">We deliver Infrastructure projects including: - National Gravel Roads maintenance and rehabilitation, Bitiminisation, of urban authorities'
                  network, Construction of parking yards and storm water management.</p>
                <a class="btn btn-primary btn-cta" href="#" target="_blank">Buy Now</a>

          </div><!--//item-content-inner-->
      </div>
    </div><!--//item-->

  </div><!--//carousel-inner-->

</div><!--//carousel-->
</div><!--//promo-section-->
